body {
  background-color: #d3d3d3;
  overflow: hidden; }
  body div {
    display: inline-block;
    margin: 0px !important;
    padding: 0px !important; }
  body .content {
    height: 100vh;
    vertical-align: top;
    margin-left: -4px; }
    body .content .hidden {
      display: none; }
    body .content .drop {
      cursor: pointer; }
    body .content .menu {
      background-color: rgba(0, 67, 62, 0.8);
      position: fixed;
      height: 100%;
      font-size: 3em;
      color: #93FFFD; }
      body .content .menu form {
        color: darkslategray; }
      body .content .menu a {
        color: #93FFFD; }
        body .content .menu a:hover {
          color: #3DC9C7;
          background-color: rgba(0, 67, 62, 0); }
        body .content .menu a:focus {
          background-color: rgba(0, 67, 62, 0); }
      body .content .menu .caret {
        font-size: 3em !important; }
      body .content .menu .nav .dropdown-menu {
        background-color: rgba(0, 67, 62, 0.8);
        width: 100%; }
        body .content .menu .nav .dropdown-menu .dropdown-list {
          display: inline-block !important; }
          body .content .menu .nav .dropdown-menu .dropdown-list p {
            width: 50px !important; }
  body .customNav {
    padding: 0px;
    height: 100vh; }
